*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Futura-Bol";
  src: url("fonts/Futura-Bol.ttf") format("truetype");
}

@font-face {
  font-family: "Futura-Boo";
  src: url("fonts/Futura-Boo.ttf") format("truetype");
}

@font-face {
  font-family: "Futura-BooOb1";
  src: url("fonts/Futura-BooObl.ttf") format("truetype");
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

.navigation ul {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  margin: 40px 80px 0 0;
}

.navigation li {
  list-style: none;
}

.navigation a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  transition: all 0.7s;
  font-family: "Futura-Boo";
}

.navigation a:hover {
  color: #445bd3;
}

@media (max-width: 768px) {
  .navigation a {
    display: none;
  }
}

.firstview {
  width: 100vw;
  height: 100vh;
  background-image: url(images/background1.jpg);
  background-position: center center;
  background-size: cover;
}

.firstview-img {
  width: 80%;
  padding-top: 225px;
}

.firstview p {
  font-size: 40px;
  color: #ffffff;
  padding-top: 25px;
  font-family: "Futura-BooOb1";
}

@media (max-width: 768px) {
  .firstview-img {
    width: 100%;
  }
  .firstview p {
    font-size: 24px;
  }
}
.container h2 {
  color: #5c5cea;
  font-size: 55px;
  margin-top: 50px;
  font-family: "Futura-Bol";
}

@media (max-width: 768px) {
  .container h2 {
    font-size: 50px;
    margin-top: 30px;
  }
}
.introduction {
  padding: 140px 0;
  column-gap: 5%;
}

.introduction-title {
  margin: 40px;
  font-size: 64px;
  font-weight: 64px;
  text-align: center;
  color: #00ff;
}

.introduction-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.introduction-content-second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
}

.introduction-content img {
  width: 425px;
  height: 285px;
}

.introduction-content-second img {
  width: 425px;
  height: 285px;
}

.introduction-content p {
  font-size: 16px;
  margin-top: 72px;
  font-weight: 200;
}

.sentence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 500px;
  height: auto;
}

.introduction a {
  display: inline-block;
  text-align: center;
  width: 170px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  margin: 30px 0 0;
  color: #ffffff;
  letter-spacing: 0.1em;
  border-radius: 10px;
  text-decoration: none;
}

.introduction a:hover {
  box-shadow: 0px 0px 10px #333333;
}

.introduction a:active {
  box-shadow: 0 0;
}

.first-a {
  background-color: #0047ab;
}

.second-a {
  background-color: #fb3;
}

@media (max-width: 1000px) {
  .introduction-content {
    flex-direction: column;
  }
  .introduction-content-second {
    flex-direction: column-reverse;
  }
  .introduction-content img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  .introduction-content .sentence {
    width: 100%;
    max-width: 400px;
    padding: 30px 10px;
  }
}

.courses .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 0 50px;
}

.courses {
  width: 100%;
  margin: 50px 0;
}

.particles-js {
  background-color: #bfd7ea;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.class-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.class {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  padding: 40px 20px;
  height: 360px;
  border-radius: 10px;
}

.class img {
  padding: 30px 0;
  height: 160px;
}

.unity-img {
  width: 100px;
}

.class p {
  font-weight: bold;
  color: #213b5e;
  margin: 20px 0;
}

.class .button {
  font-size: 16px;
  padding: 15px 30px;
  height: auto;
}

.class a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.class a:hover {
  box-shadow: 0px 0px 10px #333333;
}

.html {
  background-color: #e06e3c;
  border-radius: 10px;
}

.css {
  background-color: #54a7da;
  border-radius: 10px;
}

.unity {
  background-color: #333333;
  border-radius: 10px;
}

.ruby {
  background-color: #ec5f59;
  border-radius: 10px;
}

.js {
  background-color: #f8d949;
  border-radius: 10px;
}

.swift {
  background-color: #ed7d47;
  border-radius: 10px;
}

.go {
  background-color: #89ccdb;
  border-radius: 10px;
}

.images .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 90%;
}

@media (max-width: 768px) {
  .class {
    height: 200px;
  }
  .class img {
    height: 70px;
    padding: 0;
  }
  .class p {
    font-size: 12px;
    margin: 10px;
  }
  .class .button {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0;
  }
}

.slider {
  width: 80%;
}

.slider-img {
  width: 400px;
  margin: 0 auto;
  object-fit: cover;
}

.slider .slick-prev::before,
.slider .slick-next::before {
  color: #333;
}

@media (max-width: 768px) {
  .images .container {
    width: 100%;
  }
  .slider {
    width: 100%;
  }
  .slider-img {
    width: 100%;
    height: auto;
  }
}

.access .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-wrap {
  margin: 0 auto;
}

.access-wrap iframe {
  width: 700px;
  display: block;
}

@media (max-width: 768px) {
  .access .container {
    width: 100%;
    padding: 0 20px;
  }
  .access-wrap {
    width: 100%;
  }
  .access-wrap {
    width: 100%;
    height: 300px;
  }
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5c5cea;
  padding: 20px 0;
  font-size: 14px;
  letter-spacing: 0.05em;
  background-color: #ffffff;
}
