*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Futura-Bol";
  src: url("fonts/Futura-Bol.ttf") format("truetype");
}

@font-face {
  font-family: "Futura-Boo";
  src: url("fonts/Futura-Boo.ttf") format("truetype");
}

@font-face {
  font-family: "Futura-BooOb1";
  src: url("fonts/Futura-BooObl.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

.navigation ul {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  margin: 40px 80px 0 0;
}

.navigation li {
  list-style: none;
}

.navigation a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  transition: 0.7s;
  font-family: "Futura-Boo";
}

navigation a:hover {
  color: #445bd3;
}

.firstview {
  width: 100vw;
  height: 100vh;
  background-image: url(images/background1.jpg);
  background-position: center center;
  background-size: cover;
}

.firstview-img {
  width: 80%;
  padding-top: 225px;
}

.firstview p {
  font-size: 40px;
  color: #ffffff;
  padding-top: 25px;
  font-family: "Futura-BooOb1";
}

.container h2 {
  color: #5c5cea;
  font-size: 55px;
  margin-top: 50px;
  font-family: "Futura-Bol";
}

.introduction {
  padding: 140px 0;
  column-gap: 5%;
}

.introduction-title {
  margin-top: 72px;
  font-size: 64px;
  font-weight: 64px;
  text-align: center;
  color: #00ff;
}

.introduction-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.introduction-content-second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
}

.introduction-content img {
  width: 480px;
  height: 270px;
}

.introduction-content-second img {
  width: 480px;
  height: 270px;
}

.introduction-content p {
  font-size: 16px;
  margin-top: 72px;
}

.sentence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 500px;
  height: auto;
}

.introduction a {
  display: inline-block;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  color: #ffffff;
  background-color: #fb3;
  letter-spacing: 0.1em;
  border-radius: 16px;
  text-decoration: none;
}

.courses .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 0 50px;
}

.courses {
  width: 100%;
  margin: 50px 0;
}

.class-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.class {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  padding: 40px 20px;
  height: 360px;
  border-radius: 10px;
}

.class img {
  padding: 30px 0;
  height: 160px;
}

.unity-img {
  width: 100px;
}

.class p {
  font-weight: bold;
  color: #213b5e;
  margin: 20px 0;
}

.class .button {
  font-size: 16px;
  padding: 15px 30px;
  height: auto;
}

.class a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}
.html {
  background-color: #e06e3c;
  border-radius: 10px;
}

.css {
  background-color: #54a7da;
  border-radius: 10px;
}

.unity {
  background-color: #333333;
  border-radius: 10px;
}

.ruby {
  background-color: #ec5f59;
  border-radius: 10px;
}

.js {
  background-color: #f8d949;
  border-radius: 10px;
}

.swift {
  background-color: #ed7d47;
  border-radius: 10px;
}

.go {
  background-color: #89ccdb;
  border-radius: 10px;
}

.images .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 90%;
}

.slider {
  width: 80%;
}

.slider-img {
  width: 400px;
  margin: 0 auto;
  object-fit: cover;
}

.slider .slick-prev::before,
.slider .slick-next::before {
  color: #333;
}

.access .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-wrap {
  margin: 0 auto;
}

.access-wrap iframe {
  width: 700px;
  display: block;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5c5cea;
  padding: 20px 0;
  font-size: 14px;
  letter-spacing: 0.05em;
  background-color: #ffffff;
}
